.heat-map-container {
  font-family: Arial, sans-serif;

    main {
    padding: 2rem;

    h1 {
      margin-bottom: 1rem;
    }

    .content {
      display: flex;

      .filters {
        width: 300px;
        margin-right: 2rem;

        .filter-item {
          margin-bottom: 1rem;

          label {
            display: block;
            margin-bottom: 0.5rem;
          }

          select {
            width: 100%;
            padding: 0.5rem;
          }
        }

        button {
          width: 100%;
          padding: 0.5rem;
          background-color: #4CAF50;
          color: white;
          border: none;
          cursor: pointer;
        }

        button {
          background-color: #28a745;
          color: white;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-size: 16px;
          transition: background-color 0.3s ease, transform 0.1s ease;
        }
        
        button:hover {
          background-color: #218838;
        }
        
        button:active {
          transform: scale(0.98);  // Simula que el botón se presiona
          background-color: #1e7e34;
        }
        
        button:disabled {
          background-color: #6c757d;
          cursor: not-allowed;
        }
      }

      .map-container {
        flex-grow: 1;

        height: 500px;
        width: 100%;
      }
      
      google-map {
        height: 100%;
        width: 100%;
      }
  
    }
  }
}