<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Frontend/src/index.html" />
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>
