.login-container {
  display: flex;
  height: 100vh;
}

.login-left, .login-right {
  flex: 1;
  padding: 2rem;
}

.login-left {
  background-image: url("../../../../Frontend/public/img/mosquito.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 4rem;
}

.login-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.login-left h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.login-left h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.login-left p {
  font-size: 1rem;
  max-width: 80%;
}

.login-right form {
  width: 100%;
  max-width: 400px;
}

.login-right h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.btn-google {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 30px; /* Cambiado de 20px a 30px */
  background-color: white;
  color: #757575;
  margin-bottom: 1rem;
  font-weight: bold; /* Para que coincida con el estilo de Figma */
}

.btn-google img {
  margin-right: 0.5rem;
  width: 20px; /* Ajusta el tamaño de la imagen para que sea más proporcional */
  height: 20px;
}

.login-right form input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.btn-signin {
  width: 100%;
  padding: 0.75rem;
  background-color: #cccccc;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.forgot-password {
  text-align: right;
  display: block;
  margin-bottom: 1rem;
  color: #757575;
}

.signup-link {
  text-align: center;
  margin-top: 1rem;
  color: #757575;
}

.signup-link a {
  color: #000;
  text-decoration: underline;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1rem 0;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider span {
  padding: 0 0.5rem;
  color: #757575;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #757575;
}
